version: '3.8'

services:
  web:
    container_name: afonsodev_app
    image: node:18-alpine
    working_dir: /app
    command: sh -c "npm install -g pnpm && pnpm install && pnpm dev"
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    tty: true
